# Ignore temporary folder (SQLite download package)
tmp/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore Streamlit logs & cache
.streamlit/
logs/
cache/

